<p id="notice"><%= notice %></p>
<div class="well" align="center">
<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @comment.vendor_id %>
</p>

<p>
  <strong>Comment box:</strong>
  <%= @comment.comment_box %>
</p>
</div>

<%= link_to 'Edit', edit_comment_path(@comment), class: "btn btn-primary"  %> |
<%= link_to 'Back', comments_path, class: "btn btn-primary"  %>
